.slot {
  width: 123px;
  height: 172px;
  border: 3px solid #aaaaaa;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 111px;
  height: 162px;
}

#topRowDiv {
  display: flex;
  justify-content: space-between;
}

#deckDiv {
  display: flex;
  justify-content: flex-start;
}

#foundationDiv {
  display: flex;
  justify-content: flex-start;
}

#tableauRow {
  display: flex;
  justify-content: space-evenly;
}
